<footer class="page-footer light-blue darken-3">
    <div class="footer-copyright">
        © 2021 TheMAP & Tecla
        <a href="https://github.com/mauavilespi" target="_blank"><img src="/img/git.svg" class="logoGit"></a>
    </div>
</footer>